<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IP-plan</title>
</head>
<body>
    <h1>IP-plan</h1>
    <ul>
        <li>DHCP-server: <span>10.12.30.2</span> (range: 10-100)</li>
        <li>Eksamen1: <span>10.12.30.72</span></li>
        <li>Linuxmaskin (CV-side): <span>10.12.30.111</span></li>
    </ul>
</body>
</html>