<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IP-plan</title>
</head>
<body>
    <h1>IP-plan DHCP-server:</h1>
    <ul>
        <li>Operativsystem: <span>Ubuntu server</span></li>
        <li>IP: <span>10.12.30.2</span></li>
        <li>Subnett: <span>10.12.30.0/24</span></li>
        <li>Gateway: <span>10.12.30.1</span></li>
        <li>DNS: <span>10.10.1.30, 8.8.8.8, 1.1.1.1</span></li>
        <li>Bruker: <span>soro</span></li>
    </ul>
</body>
</html>